{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "fragment": "Fragment", // Fragment to use (may be a property of <pragma>), default to "Fragment"
            "version": "detect", // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // default to latest and warns if missing
            // It will default to "detect" in the future
            "flowVersion": "0.53" // Flow version
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "react",
		"react-hooks"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "sort-keys": 0, // trier les object keys par ordre alphabétique
        "eqeqeq": 1, // stricte egualité
        "indent": [
            2,
            "tab",
            {
                "SwitchCase": 1
            }
        ], // indentation
        "react/prop-types": 1, // propTypes
        "comma-dangle": 1, // virgule innutile à la fin d'un objet
        "quotes": [1, "single", { "avoidEscape": true }] // seulement des quotes simples sauf quand c'est pas possible
    }
}